duplicados/bin/Debug/netcoreapp3.1/duplicados
duplicados/bin/Debug/netcoreapp3.1/duplicados.deps.json
duplicados/bin/Debug/netcoreapp3.1/duplicados.dll
duplicados/bin/Debug/netcoreapp3.1/duplicados.pdb
duplicados/bin/Debug/netcoreapp3.1/duplicados.runtimeconfig.dev.json
duplicados/bin/Debug/netcoreapp3.1/duplicados.runtimeconfig.json
duplicados/obj/duplicados.csproj.nuget.cache
duplicados/obj/duplicados.csproj.nuget.dgspec.json
duplicados/obj/duplicados.csproj.nuget.g.props
duplicados/obj/duplicados.csproj.nuget.g.targets
duplicados/obj/project.assets.json
duplicados/obj/Debug/netcoreapp3.1/duplicados
duplicados/obj/Debug/netcoreapp3.1/duplicados.AssemblyInfo.cs
duplicados/obj/Debug/netcoreapp3.1/duplicados.AssemblyInfoInputs.cache
duplicados/obj/Debug/netcoreapp3.1/duplicados.assets.cache
duplicados/obj/Debug/netcoreapp3.1/duplicados.csproj.FileListAbsolute.txt
duplicados/obj/Debug/netcoreapp3.1/duplicados.csprojAssemblyReference.cache
duplicados/obj/Debug/netcoreapp3.1/duplicados.dll
duplicados/obj/Debug/netcoreapp3.1/duplicados.pdb
palindromos/bin/Debug/netcoreapp3.1/palindromos
palindromos/bin/Debug/netcoreapp3.1/palindromos.deps.json
palindromos/bin/Debug/netcoreapp3.1/palindromos.dll
palindromos/bin/Debug/netcoreapp3.1/palindromos.pdb
palindromos/bin/Debug/netcoreapp3.1/palindromos.runtimeconfig.dev.json
palindromos/bin/Debug/netcoreapp3.1/palindromos.runtimeconfig.json
palindromos/obj/palindromos.csproj.nuget.cache
palindromos/obj/palindromos.csproj.nuget.dgspec.json
palindromos/obj/palindromos.csproj.nuget.g.props
palindromos/obj/palindromos.csproj.nuget.g.targets
palindromos/obj/project.assets.json
palindromos/obj/Debug/netcoreapp3.1/palindromos
palindromos/obj/Debug/netcoreapp3.1/palindromos.AssemblyInfo.cs
palindromos/obj/Debug/netcoreapp3.1/palindromos.AssemblyInfoInputs.cache
palindromos/obj/Debug/netcoreapp3.1/palindromos.assets.cache
palindromos/obj/Debug/netcoreapp3.1/palindromos.csproj.FileListAbsolute.txt
palindromos/obj/Debug/netcoreapp3.1/palindromos.csprojAssemblyReference.cache
palindromos/obj/Debug/netcoreapp3.1/palindromos.dll
palindromos/obj/Debug/netcoreapp3.1/palindromos.pdb
