duplicados/bin/Debug/netcoreapp3.1/duplicados
duplicados/bin/Debug/netcoreapp3.1/duplicados.deps.json
duplicados/bin/Debug/netcoreapp3.1/duplicados.dll
duplicados/bin/Debug/netcoreapp3.1/duplicados.pdb
duplicados/bin/Debug/netcoreapp3.1/duplicados.runtimeconfig.dev.json
duplicados/bin/Debug/netcoreapp3.1/duplicados.runtimeconfig.json
duplicados/obj/duplicados.csproj.nuget.cache
duplicados/obj/duplicados.csproj.nuget.dgspec.json
duplicados/obj/duplicados.csproj.nuget.g.props
duplicados/obj/duplicados.csproj.nuget.g.targets
duplicados/obj/project.assets.json
duplicados/obj/Debug/netcoreapp3.1/duplicados
duplicados/obj/Debug/netcoreapp3.1/duplicados.AssemblyInfo.cs
duplicados/obj/Debug/netcoreapp3.1/duplicados.AssemblyInfoInputs.cache
duplicados/obj/Debug/netcoreapp3.1/duplicados.assets.cache
duplicados/obj/Debug/netcoreapp3.1/duplicados.csproj.FileListAbsolute.txt
duplicados/obj/Debug/netcoreapp3.1/duplicados.csprojAssemblyReference.cache
duplicados/obj/Debug/netcoreapp3.1/duplicados.dll
duplicados/obj/Debug/netcoreapp3.1/duplicados.pdb
