<h1>Olá!</h1>
<p>Pressione o botão login, para acessar as funcionalidades</p>
<ul>
  <li>Cidade</li>
  <li>Região</li>
  <li>Teste Palindromo</li>
</ul>
<p>Este sistema utiliza as seguintes tecnologias</p>
<ul>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> Manipulação de interface web</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> Estilo </li>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> Manipulação de interface em servidor</li>
  <li><a href='https://www.nuget.org/packages/VMBrevisCore/1.2.0?_src=template'>Brevis</a> Manipulação de dados</li>
</ul>
